# PostgreSQL
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_USER=temporal
POSTGRES_PASSWORD=temporal
POSTGRES_DB=postgres

# LLM
OPENAI_API_KEY=

# Optional Bifrost gateway
BIFROST_API_KEY=

# Discord
DISCORD_APPLICATION_ID=
DISCORD_TOKEN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_WEBHOOK_SECRET=
